<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!--允许访问网络，必选权限-->
  <uses-permission android:name="android.permission.INTERNET" />

  <!--允许获取精确位置，精准定位必选-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <!--允许获取粗略位置，粗略定位必选-->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <!--允许获取网络状态，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!--允许获取wifi网络信息，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <!--允许获取wifi状态改变，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

  <!-- 读取手机状态（高德 SDK 内部可能会用到设备信息做定位优化） -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

  <!-- 写入外部存储（地图缓存数据需要） -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!-- 读取外部存储（地图缓存数据需要） -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <!-- 如果 targetSdkVersion >= 30，还要在 <application> 里加： -->
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <!--用于申请调用A-GPS模块,卫星定位加速-->
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <!-- 相机权限 -->
  <uses-permission android:name="android.permission.CAMERA" />

  <!-- optionally, if you want to record audio: -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <!-- networkSecurityConfig 允许 release 访问局域网 HTTP -->
  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme"
    android:supportsRtl="true"
    android:networkSecurityConfig="@xml/network_security_config"
  >

    <service android:name="com.amap.api.location.APSService"></service>
    <!-- 高德地图 Android Key -->

    <meta-data
      android:name="com.amap.api.v2.apikey"
      android:value="f1322c6b19b8899992402ae79e4d5ded" />
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:exported="true"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>